.search {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(231, 231, 231);

  input {
    width: 150px;
    padding: 6px 12px;
    background-color: transparent;
  }
}

.search-btn {
  padding: 8px 16px;
  line-height: 12px;
  background-color: transparent;
  cursor: pointer;
}

.search-result {
  width: 500px;
  border-radius: 1px;
  background-color: var(--white);
  box-shadow: 0 0 3px #0000001f;
}

.search-trending {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.title {
  padding-bottom: 4px;
  margin-bottom: 16px;
  border-bottom: 1px solid #f6f6f6;
  font-weight: 600;
}

.trending-list {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin-right: 8px;
}

.trending-item {
  margin: 6px;
  padding: 6px 12px;
  line-height: 2rem;
  color: #868686;
  background-color: #f7f7f7;
  cursor: pointer;
}

.popular-products {

}

.product-item {

}